* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.container h2{
    color: white;
}

.container {
    max-width: 1150px;
    margin: 25px auto;
    background-color: rgb(35, 35, 35);
    padding: 20px;
    border-radius: 5px;
    display: flex;
}

.principal {
    margin-top: 20px;
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: rgb(55, 55, 55);
    border-radius: 15px;
}

/* Ajuste para a imagem do perfil */
.profile-picture-preview {
    width: 150px; /* Largura da imagem */
    height: 150px; /* Altura da imagem */
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Garante que a imagem preencha o container sem distorção */
    border: 2px solid #ccc; /* Adiciona uma borda leve ao redor da imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito de elevação */
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.form-group p {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

.input-field::placeholder {
    color: #bbb;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #218838;
}

.container label{
    color: white;
    background-color: #218838;
    font-family: sans-serif;
    padding: 4px;
}