/* \/\/\/ Footer do site \/\/\/ */
footer {
    background:linear-gradient(to bottom, rgb(11, 11, 11) 1%, rgb(80, 80, 80) 100%);
    color: white;
    padding: 20px;
    bottom: 1;
    max-width: 100%;
    min-width: 40%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: aliceblue;
}

/* Estilo para a seção de redes sociais */
.social {
    margin-top: 10px;
}

.social a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Estilo para a seção de recursos */
.resources {
    margin-top: 20px;
}

.resources p {
    margin: 5px 0;
}

.mods_footer {
    margin-top: 48px;
}

.mods_footer p {
    margin: 5px 0;
}

.abaixo_footer{
    display: block;
    padding: 20px;
    bottom: 1;
    height: 10%;
    margin-top: 100px;
    text-align: center;
}
.abaixo_footer img{
    width: 50px;
}

/* /\/\/\ Footer do site /\/\/\ */
@media screen  and (max-width: 800px) {
    footer{
        flex-direction: column;
        align-items: center;
    }
    .social, .resources, .mods_footer{
        text-align: center;
        margin-top: 10px;
    }
}