<!-- header.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Home</title>
    <link rel="icon" href="{% static 'img/logoIco.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/footer.css' %}">
    <script src="https://kit.fontawesome.com/4cd770d9d0.js" crossorigin="anonymous"></script> 
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <footer>
        <!-- Redes Sociais -->
        <div class="caixa">
            <div class="social">
                <a href="https://www.facebook.com/seusite" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/seusite" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
    
            <!-- Recursos -->
            <div class="resources">
                <h2>Recursos</h2>
                <p><a href="#" class="houve1">Apoie um criador</a></p>
                <p><a href="#" class="houve1">Empresas</a></p>
                <p><a href="#" class="houve1">Parcerias</a></p>
                <p><a href="#" class="houve1">Apoiar o Games Home</a></p>
                <p><a href="#" class="houve1">Serviços Online</a></p>
            </div>
        </div>
    
        <div class="mods_footer">
            <h2>Dúvidas Frequentes</h2>
            <p><a href="#" class="houve1">Como faço para criar uma conta?</a></p>
            <p><a href="#" class="houve1">Posso alterar minha senha?</a></p>
            <p><a href="#" class="houve1">Quais métodos de pagamento são aceitos?</a></p>
            <p><a href="#" class="houve1">Como faço para colocar meus jogos no site?</a></p>
            <p><a href="#" class="houve1">Outras perguntas</a></p>
        </div>
    
        <div class="mods_footer">
            <h2>Conheça-nos</h2>
            <p><a href="#" class="houve1">Sobre o Games Home</a></p>
            <p><a href="#" class="houve1">Informações corporativas</a></p>
            <p><a href="#" class="houve1">Comunidades</a></p>
            <p><a href="#" class="houve1">Acessibilidades</a></p>
            <p><a href="#" class="houve1">Regras do site</a></p>
        </div>
    
        <!-- Direitos Autorais -->
        <div class="abaixo_footer">
            <p>&copy; 2023 Seu Site. Todos os direitos reservados.</p>
        </div>
    </footer>
    <!--/\/\/\ Footer do site /\/\/\-->

</body>