{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/resu_busca.css' %}">
</head>
<body>
    {% include 'Base/header.html' %}
    {% if query %}
    <h1>Resultados da busca por "{{ query }}":</h1>
    <ul class="lista">
        {% for game in results %}
            <li>
                {% if game.image %}
                    <img src="{{ game.image.url }}" alt="Imagem do Jogo">
                {% endif %}
                <div class="game-info">
                    <h2><a href="{% url 'game_detail' game.pk %}">{{ game.name }}</a></h2>
                    <p>Categoria: {{ game.category }}</p>
                    <p>{{ game.description }}</p>
                    <p class="home-button">Preço: R$ {{ game.price }}</p>
                    {% if game.pk in request.session.favorites %}
                        <a href="{% url 'toggle_favorite' game.pk %}" class="home-button">Desfavoritar</a>
                    {% else %}
                        <a href="{% url 'toggle_favorite' game.pk %}" class="home-button">Favoritar</a>
                    {% endif %}
                </div>
            </li>
        {% empty %}
            <li style="color: #e8e8e8;">Nenhum resultado encontrado.</li>
        {% endfor %}
    </ul>
{% endif %}

    {% include 'Base/footer.html' %}
</body>
</html>